:root {
  --bgc-50:  oklch(0.52 0.114 277.50); /* RL: 0.1363, CR: 02.69 */
  --bgc-100: oklch(0.47 0.100 277.64); /* RL: 0.1004, CR: 02.17 */
  --bgc-200: oklch(0.41 0.085 276.87); /* RL: 0.0667, CR: 01.68 */
  --bgc-300: oklch(0.34 0.067 277.68); /* RL: 0.0382, CR: 01.27 */
  --bgc-400: oklch(0.30 0.052 278.24); /* RL: 0.0265, CR: 01.10 */
  --bgc-500: oklch(0.27 0.032 276.31); /* RL: 0.0193, CR: 01.00 */
  --bgc-600: oklch(0.29 0.046 277.85); /* RL: 0.0229, CR: 01.05 */
  --bgc-700: oklch(0.25 0.034 276.40); /* RL: 0.0160, CR: 01.05 */
  --bgc-800: oklch(0.23 0.035 278.32); /* RL: 0.0111, CR: 01.13 */
  --bgc-900: oklch(0.21 0.032 275.10); /* RL: 0.0085, CR: 01.18 */
  --bgc-950: oklch(0.17 0.025 276.19); /* RL: 0.0051, CR: 01.26 */
 
  --fgc-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --fgc-100: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --fgc-200: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --fgc-300: oklch(0.89 0.054 277.23); /* RL: 0.6988, CR: 10.81 */
  --fgc-400: oklch(0.87 0.059 277.67); /* RL: 0.6512, CR: 10.12 */
  --fgc-500: oklch(0.84 0.071 277.66); /* RL: 0.5811, CR: 09.11 */
  --fgc-600: oklch(0.82 0.078 276.51); /* RL: 0.5436, CR: 08.57 */
  --fgc-700: oklch(0.80 0.090 276.50); /* RL: 0.5047, CR: 08.01 */
  --fgc-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --fgc-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --fgc-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --red-50:  oklch(0.95 0.020 028.51); /* RL: 0.8516, CR: 13.01 */
  --red-100: oklch(0.90 0.058 028.51); /* RL: 0.7010, CR: 10.84 */
  --red-200: oklch(0.84 0.097 028.51); /* RL: 0.5665, CR: 08.90 */
  --red-300: oklch(0.79 0.135 028.51); /* RL: 0.4526, CR: 07.25 */
  --red-400: oklch(0.74 0.173 028.51); /* RL: 0.3579, CR: 05.89 */
  --red-500: oklch(0.68 0.212 028.51); /* RL: 0.2808, CR: 04.77 */
  --red-600: oklch(0.63 0.250 028.51); /* RL: 0.2160, CR: 03.84 */
  --red-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --red-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --red-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --red-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --bry-50:  oklch(0.95 0.020 007.50); /* RL: 0.8506, CR: 13.00 */
  --bry-100: oklch(0.90 0.059 007.50); /* RL: 0.7016, CR: 10.85 */
  --bry-200: oklch(0.85 0.098 007.50); /* RL: 0.5680, CR: 08.92 */
  --bry-300: oklch(0.79 0.138 007.50); /* RL: 0.4550, CR: 07.29 */
  --bry-400: oklch(0.74 0.177 007.50); /* RL: 0.3610, CR: 05.93 */
  --bry-500: oklch(0.69 0.216 007.50); /* RL: 0.2847, CR: 04.83 */
  --bry-600: oklch(0.64 0.255 007.50); /* RL: 0.2205, CR: 03.90 */
  --bry-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --bry-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --bry-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --bry-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --chr-50:  oklch(0.95 0.020 015.01); /* RL: 0.8509, CR: 13.00 */
  --chr-100: oklch(0.90 0.059 015.01); /* RL: 0.7006, CR: 10.83 */
  --chr-200: oklch(0.85 0.098 015.01); /* RL: 0.5663, CR: 08.89 */
  --chr-300: oklch(0.79 0.137 015.01); /* RL: 0.4527, CR: 07.25 */
  --chr-400: oklch(0.74 0.176 015.01); /* RL: 0.3582, CR: 05.89 */
  --chr-500: oklch(0.69 0.214 015.01); /* RL: 0.2812, CR: 04.78 */
  --chr-600: oklch(0.64 0.253 015.01); /* RL: 0.2203, CR: 03.90 */
  --chr-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --chr-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --chr-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --chr-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --rby-50:  oklch(0.95 0.020 022.50); /* RL: 0.8512, CR: 13.01 */
  --rby-100: oklch(0.89 0.058 022.50); /* RL: 0.6968, CR: 10.78 */
  --rby-200: oklch(0.84 0.096 022.50); /* RL: 0.5600, CR: 08.80 */
  --rby-300: oklch(0.78 0.134 022.50); /* RL: 0.4453, CR: 07.15 */
  --rby-400: oklch(0.73 0.173 022.50); /* RL: 0.3508, CR: 05.78 */
  --rby-500: oklch(0.67 0.211 022.50); /* RL: 0.2722, CR: 04.65 */
  --rby-600: oklch(0.62 0.249 022.50); /* RL: 0.2027, CR: 03.65 */
  --rby-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --rby-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --rby-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --rby-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --crl-50:  oklch(0.95 0.020 032.50); /* RL: 0.8519, CR: 13.02 */
  --crl-100: oklch(0.90 0.056 032.50); /* RL: 0.7110, CR: 10.98 */
  --crl-200: oklch(0.85 0.092 032.50); /* RL: 0.5831, CR: 09.14 */
  --crl-300: oklch(0.80 0.129 032.50); /* RL: 0.4734, CR: 07.55 */
  --crl-400: oklch(0.75 0.165 032.50); /* RL: 0.3807, CR: 06.22 */
  --crl-500: oklch(0.70 0.201 032.50); /* RL: 0.3037, CR: 05.10 */
  --crl-600: oklch(0.65 0.237 032.50); /* RL: 0.2412, CR: 04.20 */
  --crl-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --crl-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --crl-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --crl-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --pmk-50:  oklch(0.95 0.020 037.53); /* RL: 0.8523, CR: 13.02 */
  --pmk-100: oklch(0.90 0.053 037.53); /* RL: 0.7204, CR: 11.12 */
  --pmk-200: oklch(0.85 0.086 037.53); /* RL: 0.5991, CR: 09.37 */
  --pmk-300: oklch(0.81 0.119 037.53); /* RL: 0.4941, CR: 07.85 */
  --pmk-400: oklch(0.76 0.152 037.53); /* RL: 0.4045, CR: 06.56 */
  --pmk-500: oklch(0.71 0.185 037.53); /* RL: 0.3270, CR: 05.44 */
  --pmk-600: oklch(0.66 0.218 037.53); /* RL: 0.2577, CR: 04.44 */
  --pmk-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --pmk-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --pmk-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --pmk-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --orn-50:  oklch(0.95 0.020 045.06); /* RL: 0.8529, CR: 13.03 */
  --orn-100: oklch(0.91 0.050 045.06); /* RL: 0.7382, CR: 11.37 */
  --orn-200: oklch(0.87 0.080 045.06); /* RL: 0.6313, CR: 09.83 */
  --orn-300: oklch(0.82 0.110 045.06); /* RL: 0.5355, CR: 08.45 */
  --orn-400: oklch(0.78 0.140 045.06); /* RL: 0.4514, CR: 07.24 */
  --orn-500: oklch(0.74 0.169 045.06); /* RL: 0.3783, CR: 06.18 */
  --orn-600: oklch(0.70 0.199 045.06); /* RL: 0.3119, CR: 05.22 */
  --orn-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --orn-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --orn-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --orn-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --sun-50:  oklch(0.95 0.020 059.99); /* RL: 0.8544, CR: 13.05 */
  --sun-100: oklch(0.92 0.046 059.99); /* RL: 0.7666, CR: 11.78 */
  --sun-200: oklch(0.89 0.072 059.99); /* RL: 0.6846, CR: 10.60 */
  --sun-300: oklch(0.85 0.098 059.99); /* RL: 0.6083, CR: 09.50 */
  --sun-400: oklch(0.82 0.125 059.99); /* RL: 0.5365, CR: 08.46 */
  --sun-500: oklch(0.79 0.151 059.99); /* RL: 0.4712, CR: 07.52 */
  --sun-600: oklch(0.76 0.177 059.99); /* RL: 0.4121, CR: 06.67 */
  --sun-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --sun-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --sun-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --sun-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --gld-50:  oklch(0.95 0.020 075.05); /* RL: 0.8561, CR: 13.08 */
  --gld-100: oklch(0.93 0.045 075.05); /* RL: 0.7910, CR: 12.14 */
  --gld-200: oklch(0.90 0.070 075.05); /* RL: 0.7289, CR: 11.24 */
  --gld-300: oklch(0.88 0.095 075.05); /* RL: 0.6697, CR: 10.39 */
  --gld-400: oklch(0.85 0.120 075.05); /* RL: 0.6135, CR: 09.58 */
  --gld-500: oklch(0.83 0.144 075.05); /* RL: 0.5602, CR: 08.81 */
  --gld-600: oklch(0.81 0.169 075.05); /* RL: 0.5097, CR: 08.08 */
  --gld-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gld-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gld-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gld-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --yel-50:  oklch(0.95 0.020 090.38); /* RL: 0.8580, CR: 13.10 */
  --yel-100: oklch(0.94 0.046 090.38); /* RL: 0.8206, CR: 12.56 */
  --yel-200: oklch(0.92 0.072 090.38); /* RL: 0.7840, CR: 12.04 */
  --yel-300: oklch(0.91 0.098 090.38); /* RL: 0.7480, CR: 11.52 */
  --yel-400: oklch(0.89 0.125 090.38); /* RL: 0.7127, CR: 11.01 */
  --yel-500: oklch(0.88 0.151 090.38); /* RL: 0.6782, CR: 10.51 */
  --yel-600: oklch(0.87 0.177 090.38); /* RL: 0.6444, CR: 10.02 */
  --yel-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --yel-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --yel-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --yel-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --lem-50:  oklch(0.95 0.020 105.01); /* RL: 0.8597, CR: 13.13 */
  --lem-100: oklch(0.95 0.048 105.01); /* RL: 0.8541, CR: 13.05 */
  --lem-200: oklch(0.94 0.077 105.01); /* RL: 0.8481, CR: 12.96 */
  --lem-300: oklch(0.94 0.105 105.01); /* RL: 0.8416, CR: 12.87 */
  --lem-400: oklch(0.94 0.133 105.01); /* RL: 0.8348, CR: 12.77 */
  --lem-500: oklch(0.93 0.162 105.01); /* RL: 0.8276, CR: 12.66 */
  --lem-600: oklch(0.93 0.190 105.01); /* RL: 0.8200, CR: 12.56 */
  --lem-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --lem-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --lem-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --lem-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --lim-50:  oklch(0.95 0.020 120.04); /* RL: 0.8613, CR: 13.15 */
  --lim-100: oklch(0.95 0.054 120.04); /* RL: 0.8628, CR: 13.17 */
  --lim-200: oklch(0.95 0.088 120.04); /* RL: 0.8638, CR: 13.19 */
  --lim-300: oklch(0.94 0.122 120.04); /* RL: 0.8642, CR: 13.19 */
  --lim-400: oklch(0.94 0.155 120.04); /* RL: 0.8641, CR: 13.19 */
  --lim-500: oklch(0.94 0.189 120.04); /* RL: 0.8637, CR: 13.19 */
  --lim-600: oklch(0.94 0.223 120.04); /* RL: 0.8627, CR: 13.17 */
  --lim-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --lim-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --lim-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --lim-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --kwi-50:  oklch(0.95 0.020 127.50); /* RL: 0.8620, CR: 13.16 */
  --kwi-100: oklch(0.94 0.055 127.50); /* RL: 0.8417, CR: 12.87 */
  --kwi-200: oklch(0.93 0.090 127.50); /* RL: 0.8212, CR: 12.57 */
  --kwi-300: oklch(0.92 0.125 127.50); /* RL: 0.8006, CR: 12.28 */
  --kwi-400: oklch(0.91 0.160 127.50); /* RL: 0.7799, CR: 11.98 */
  --kwi-500: oklch(0.90 0.195 127.50); /* RL: 0.7591, CR: 11.68 */
  --kwi-600: oklch(0.89 0.230 127.50); /* RL: 0.7382, CR: 11.38 */
  --kwi-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --kwi-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --kwi-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --kwi-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --aqu-50:  oklch(0.95 0.020 195.00); /* RL: 0.8638, CR: 13.19 */
  --aqu-100: oklch(0.94 0.040 195.00); /* RL: 0.8539, CR: 13.04 */
  --aqu-200: oklch(0.94 0.060 195.00); /* RL: 0.8439, CR: 12.90 */
  --aqu-300: oklch(0.93 0.079 195.00); /* RL: 0.8340, CR: 12.76 */
  --aqu-400: oklch(0.93 0.099 195.00); /* RL: 0.8241, CR: 12.61 */
  --aqu-500: oklch(0.92 0.119 195.00); /* RL: 0.8143, CR: 12.47 */
  --aqu-600: oklch(0.91 0.139 195.00); /* RL: 0.8044, CR: 12.33 */
  --aqu-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --aqu-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --aqu-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --aqu-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --azr-50:  oklch(0.95 0.020 225.03); /* RL: 0.8617, CR: 13.16 */
  --azr-100: oklch(0.92 0.041 225.03); /* RL: 0.7927, CR: 12.16 */
  --azr-200: oklch(0.89 0.062 225.03); /* RL: 0.7273, CR: 11.22 */
  --azr-300: oklch(0.87 0.084 225.03); /* RL: 0.6654, CR: 10.32 */
  --azr-400: oklch(0.84 0.105 225.03); /* RL: 0.6070, CR: 09.48 */
  --azr-500: oklch(0.81 0.126 225.03); /* RL: 0.5519, CR: 08.69 */
  --azr-600: oklch(0.78 0.147 225.03); /* RL: 0.4999, CR: 07.94 */
  --azr-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --azr-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --azr-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --azr-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --cer-50:  oklch(0.95 0.020 210.00); /* RL: 0.8629, CR: 13.18 */
  --cer-100: oklch(0.93 0.041 210.00); /* RL: 0.8192, CR: 12.54 */
  --cer-200: oklch(0.91 0.062 210.00); /* RL: 0.7770, CR: 11.93 */
  --cer-300: oklch(0.89 0.082 210.00); /* RL: 0.7361, CR: 11.34 */
  --cer-400: oklch(0.88 0.103 210.00); /* RL: 0.6965, CR: 10.77 */
  --cer-500: oklch(0.86 0.124 210.00); /* RL: 0.6583, CR: 10.22 */
  --cer-600: oklch(0.84 0.145 210.00); /* RL: 0.6214, CR: 09.69 */
  --cer-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cer-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cer-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cer-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --grn-50:  oklch(0.95 0.020 135.00); /* RL: 0.8626, CR: 13.17 */
  --grn-100: oklch(0.94 0.060 135.00); /* RL: 0.8463, CR: 12.93 */
  --grn-200: oklch(0.93 0.100 135.00); /* RL: 0.8296, CR: 12.69 */
  --grn-300: oklch(0.92 0.140 135.00); /* RL: 0.8126, CR: 12.45 */
  --grn-400: oklch(0.91 0.180 135.00); /* RL: 0.7954, CR: 12.20 */
  --grn-500: oklch(0.90 0.220 135.00); /* RL: 0.7780, CR: 11.95 */
  --grn-600: oklch(0.89 0.260 135.00); /* RL: 0.7604, CR: 11.69 */
  --grn-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --grn-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --grn-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --grn-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --jde-50:  oklch(0.95 0.020 150.00); /* RL: 0.8636, CR: 13.19 */
  --jde-100: oklch(0.93 0.054 150.00); /* RL: 0.8110, CR: 12.43 */
  --jde-200: oklch(0.90 0.087 150.00); /* RL: 0.7604, CR: 11.69 */
  --jde-300: oklch(0.88 0.121 150.00); /* RL: 0.7117, CR: 10.99 */
  --jde-400: oklch(0.86 0.155 150.00); /* RL: 0.6649, CR: 10.32 */
  --jde-500: oklch(0.83 0.189 150.00); /* RL: 0.6199, CR: 09.67 */
  --jde-600: oklch(0.81 0.222 150.00); /* RL: 0.5769, CR: 09.05 */
  --jde-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --jde-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --jde-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --jde-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --emr-50:  oklch(0.95 0.020 142.50); /* RL: 0.8632, CR: 13.18 */
  --emr-100: oklch(0.94 0.066 142.50); /* RL: 0.8386, CR: 12.82 */
  --emr-200: oklch(0.92 0.112 142.50); /* RL: 0.8139, CR: 12.47 */
  --emr-300: oklch(0.91 0.157 142.50); /* RL: 0.7892, CR: 12.11 */
  --emr-400: oklch(0.89 0.203 142.50); /* RL: 0.7645, CR: 11.75 */
  --emr-500: oklch(0.88 0.249 142.50); /* RL: 0.7399, CR: 11.40 */
  --emr-600: oklch(0.87 0.295 142.50); /* RL: 0.7153, CR: 11.04 */
  --emr-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --emr-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --emr-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --emr-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --tea-50:  oklch(0.95 0.020 165.03); /* RL: 0.8642, CR: 13.19 */
  --tea-100: oklch(0.94 0.047 165.03); /* RL: 0.8423, CR: 12.88 */
  --tea-200: oklch(0.93 0.075 165.03); /* RL: 0.8208, CR: 12.57 */
  --tea-300: oklch(0.92 0.102 165.03); /* RL: 0.7996, CR: 12.26 */
  --tea-400: oklch(0.90 0.130 165.03); /* RL: 0.7786, CR: 11.96 */
  --tea-500: oklch(0.89 0.157 165.03); /* RL: 0.7580, CR: 11.66 */
  --tea-600: oklch(0.88 0.185 165.03); /* RL: 0.7376, CR: 11.37 */
  --tea-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --tea-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --tea-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --tea-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --cyn-50:  oklch(0.95 0.020 180.02); /* RL: 0.8642, CR: 13.19 */
  --cyn-100: oklch(0.94 0.042 180.02); /* RL: 0.8495, CR: 12.98 */
  --cyn-200: oklch(0.93 0.065 180.02); /* RL: 0.8349, CR: 12.77 */
  --cyn-300: oklch(0.93 0.087 180.02); /* RL: 0.8205, CR: 12.56 */
  --cyn-400: oklch(0.92 0.110 180.02); /* RL: 0.8062, CR: 12.36 */
  --cyn-500: oklch(0.91 0.132 180.02); /* RL: 0.7920, CR: 12.15 */
  --cyn-600: oklch(0.90 0.155 180.02); /* RL: 0.7779, CR: 11.95 */
  --cyn-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyn-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyn-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyn-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --sky-50:  oklch(0.95 0.020 240.02); /* RL: 0.8601, CR: 13.13 */
  --sky-100: oklch(0.91 0.044 240.02); /* RL: 0.7626, CR: 11.73 */
  --sky-200: oklch(0.87 0.068 240.02); /* RL: 0.6724, CR: 10.43 */
  --sky-300: oklch(0.83 0.092 240.02); /* RL: 0.5893, CR: 09.23 */
  --sky-400: oklch(0.80 0.115 240.02); /* RL: 0.5128, CR: 08.12 */
  --sky-500: oklch(0.76 0.139 240.02); /* RL: 0.4429, CR: 07.11 */
  --sky-600: oklch(0.72 0.163 240.02); /* RL: 0.3794, CR: 06.20 */
  --sky-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --sky-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --sky-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --sky-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --sap-50:  oklch(0.95 0.020 269.93); /* RL: 0.8565, CR: 13.08 */
  --sap-100: oklch(0.88 0.057 269.93); /* RL: 0.6864, CR: 10.63 */
  --sap-200: oklch(0.82 0.093 269.93); /* RL: 0.5386, CR: 08.49 */
  --sap-300: oklch(0.75 0.130 269.93); /* RL: 0.4132, CR: 06.68 */
  --sap-400: oklch(0.68 0.167 269.93); /* RL: 0.3083, CR: 05.17 */
  --sap-500: oklch(0.62 0.203 269.93); /* RL: 0.2210, CR: 03.91 */
  --sap-600: oklch(0.55 0.240 269.93); /* RL: 0.1501, CR: 02.89 */
  --sap-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --sap-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --sap-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --sap-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --blu-50:  oklch(0.95 0.020 255.03); /* RL: 0.8583, CR: 13.11 */
  --blu-100: oklch(0.90 0.051 255.03); /* RL: 0.7198, CR: 11.11 */
  --blu-200: oklch(0.84 0.082 255.03); /* RL: 0.5958, CR: 09.32 */
  --blu-300: oklch(0.79 0.112 255.03); /* RL: 0.4862, CR: 07.74 */
  --blu-400: oklch(0.73 0.143 255.03); /* RL: 0.3905, CR: 06.36 */
  --blu-500: oklch(0.68 0.174 255.03); /* RL: 0.3079, CR: 05.16 */
  --blu-600: oklch(0.62 0.205 255.03); /* RL: 0.2366, CR: 04.14 */
  --blu-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blu-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blu-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blu-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --lav-50:  oklch(0.95 0.020 285.02); /* RL: 0.8548, CR: 13.06 */
  --lav-100: oklch(0.88 0.060 285.02); /* RL: 0.6817, CR: 10.56 */
  --lav-200: oklch(0.82 0.100 285.02); /* RL: 0.5314, CR: 08.39 */
  --lav-300: oklch(0.75 0.140 285.02); /* RL: 0.4042, CR: 06.55 */
  --lav-400: oklch(0.68 0.180 285.02); /* RL: 0.2981, CR: 05.02 */
  --lav-500: oklch(0.62 0.221 285.02); /* RL: 0.2113, CR: 03.77 */
  --lav-600: oklch(0.55 0.261 285.02); /* RL: 0.1420, CR: 02.77 */
  --lav-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --lav-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --lav-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --lav-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --prp-50:  oklch(0.95 0.020 300.09); /* RL: 0.8532, CR: 13.03 */
  --prp-100: oklch(0.88 0.065 300.09); /* RL: 0.6766, CR: 10.49 */
  --prp-200: oklch(0.82 0.111 300.09); /* RL: 0.5243, CR: 08.29 */
  --prp-300: oklch(0.75 0.156 300.09); /* RL: 0.3954, CR: 06.43 */
  --prp-400: oklch(0.68 0.202 300.09); /* RL: 0.2887, CR: 04.89 */
  --prp-500: oklch(0.62 0.247 300.09); /* RL: 0.2020, CR: 03.64 */
  --prp-600: oklch(0.55 0.293 300.09); /* RL: 0.1322, CR: 02.63 */
  --prp-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --prp-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --prp-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --prp-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --vio-50:  oklch(0.95 0.020 315.01); /* RL: 0.8519, CR: 13.02 */
  --vio-100: oklch(0.89 0.067 315.01); /* RL: 0.6997, CR: 10.82 */
  --vio-200: oklch(0.84 0.115 315.01); /* RL: 0.5659, CR: 08.89 */
  --vio-300: oklch(0.78 0.162 315.01); /* RL: 0.4492, CR: 07.20 */
  --vio-400: oklch(0.73 0.209 315.01); /* RL: 0.3486, CR: 05.75 */
  --vio-500: oklch(0.67 0.257 315.01); /* RL: 0.2635, CR: 04.52 */
  --vio-600: oklch(0.62 0.304 315.01); /* RL: 0.1920, CR: 03.49 */
  --vio-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --vio-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --vio-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --vio-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --mag-50:  oklch(0.95 0.020 345.05); /* RL: 0.8505, CR: 13.00 */
  --mag-100: oklch(0.90 0.064 345.05); /* RL: 0.7146, CR: 11.03 */
  --mag-200: oklch(0.85 0.107 345.05); /* RL: 0.5876, CR: 09.20 */
  --mag-300: oklch(0.81 0.151 345.05); /* RL: 0.4785, CR: 07.63 */
  --mag-400: oklch(0.76 0.194 345.05); /* RL: 0.3864, CR: 06.30 */
  --mag-500: oklch(0.71 0.238 345.05); /* RL: 0.3099, CR: 05.19 */
  --mag-600: oklch(0.66 0.281 345.05); /* RL: 0.2441, CR: 04.24 */
  --mag-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --mag-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --mag-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --mag-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --ros-50:  oklch(0.95 0.020 000.07); /* RL: 0.8505, CR: 13.00 */
  --ros-100: oklch(0.90 0.058 000.07); /* RL: 0.6994, CR: 10.82 */
  --ros-200: oklch(0.84 0.096 000.07); /* RL: 0.5665, CR: 08.90 */
  --ros-300: oklch(0.79 0.134 000.07); /* RL: 0.4529, CR: 07.26 */
  --ros-400: oklch(0.73 0.172 000.07); /* RL: 0.3549, CR: 05.84 */
  --ros-500: oklch(0.68 0.211 000.07); /* RL: 0.2720, CR: 04.65 */
  --ros-600: oklch(0.62 0.249 000.07); /* RL: 0.2030, CR: 03.65 */
  --ros-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --ros-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --ros-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --ros-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --pnk-50:  oklch(0.95 0.020 330.08); /* RL: 0.8510, CR: 13.00 */
  --pnk-100: oklch(0.91 0.069 330.08); /* RL: 0.7293, CR: 11.25 */
  --pnk-200: oklch(0.87 0.118 330.08); /* RL: 0.6183, CR: 09.65 */
  --pnk-300: oklch(0.82 0.167 330.08); /* RL: 0.5158, CR: 08.17 */
  --pnk-400: oklch(0.78 0.216 330.08); /* RL: 0.4265, CR: 06.88 */
  --pnk-500: oklch(0.74 0.265 330.08); /* RL: 0.3496, CR: 05.77 */
  --pnk-600: oklch(0.70 0.314 330.08); /* RL: 0.2844, CR: 04.83 */
  --pnk-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --pnk-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --pnk-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --pnk-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --ade-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --ade-100: oklch(0.72 0.073 023.31); /* RL: 0.3660, CR: 06.00 */
  --ade-200: oklch(0.66 0.095 020.77); /* RL: 0.2730, CR: 04.66 */
  --ade-300: oklch(0.58 0.108 023.14); /* RL: 0.1811, CR: 03.33 */
  --ade-400: oklch(0.46 0.090 021.18); /* RL: 0.0891, CR: 02.01 */
  --ade-500: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --ade-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --ade-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --ade-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --ade-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --ade-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --rst-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --rst-100: oklch(0.61 0.057 034.83); /* RL: 0.2232, CR: 03.94 */
  --rst-200: oklch(0.56 0.058 033.53); /* RL: 0.1660, CR: 03.12 */
  --rst-300: oklch(0.51 0.052 032.23); /* RL: 0.1251, CR: 02.53 */
  --rst-400: oklch(0.44 0.043 033.53); /* RL: 0.0845, CR: 01.94 */
  --rst-500: oklch(0.39 0.035 032.00); /* RL: 0.0572, CR: 01.55 */
  --rst-600: oklch(0.35 0.030 031.46); /* RL: 0.0418, CR: 01.33 */
  --rst-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --rst-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --rst-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --rst-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --cyt-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyt-100: oklch(0.71 0.070 117.41); /* RL: 0.3658, CR: 06.00 */
  --cyt-200: oklch(0.64 0.080 116.81); /* RL: 0.2734, CR: 04.67 */
  --cyt-300: oklch(0.56 0.077 117.55); /* RL: 0.1811, CR: 03.33 */
  --cyt-400: oklch(0.44 0.060 118.38); /* RL: 0.0891, CR: 02.01 */
  --cyt-500: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyt-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyt-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyt-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyt-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyt-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --olv-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --olv-100: oklch(0.61 0.003 165.02); /* RL: 0.2251, CR: 03.97 */
  --olv-200: oklch(0.55 0.006 164.87); /* RL: 0.1652, CR: 03.11 */
  --olv-300: oklch(0.50 0.006 164.83); /* RL: 0.1222, CR: 02.48 */
  --olv-400: oklch(0.44 0.003 164.96); /* RL: 0.0833, CR: 01.92 */
  --olv-500: oklch(0.38 0.003 164.93); /* RL: 0.0553, CR: 01.52 */
  --olv-600: oklch(0.35 0.003 164.90); /* RL: 0.0416, CR: 01.32 */
  --olv-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --olv-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --olv-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --olv-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --frt-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --frt-100: oklch(0.71 0.082 159.39); /* RL: 0.3658, CR: 06.00 */
  --frt-200: oklch(0.64 0.087 158.75); /* RL: 0.2731, CR: 04.66 */
  --frt-300: oklch(0.56 0.075 158.42); /* RL: 0.1810, CR: 03.33 */
  --frt-400: oklch(0.44 0.055 158.23); /* RL: 0.0892, CR: 02.01 */
  --frt-500: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --frt-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --frt-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --frt-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --frt-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --frt-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --slt-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --slt-100: oklch(0.61 0.074 280.35); /* RL: 0.2252, CR: 03.97 */
  --slt-200: oklch(0.55 0.079 278.31); /* RL: 0.1667, CR: 03.13 */
  --slt-300: oklch(0.50 0.074 276.75); /* RL: 0.1218, CR: 02.48 */
  --slt-400: oklch(0.44 0.065 276.66); /* RL: 0.0811, CR: 01.89 */
  --slt-500: oklch(0.39 0.057 276.80); /* RL: 0.0562, CR: 01.53 */
  --slt-600: oklch(0.35 0.046 277.02); /* RL: 0.0417, CR: 01.32 */
  --slt-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --slt-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --slt-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --slt-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --thy-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --thy-100: oklch(0.72 0.056 261.58); /* RL: 0.3660, CR: 06.00 */
  --thy-200: oklch(0.65 0.069 259.37); /* RL: 0.2730, CR: 04.66 */
  --thy-300: oklch(0.57 0.077 259.66); /* RL: 0.1810, CR: 03.33 */
  --thy-400: oklch(0.45 0.072 258.28); /* RL: 0.0888, CR: 02.00 */
  --thy-500: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --thy-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --thy-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --thy-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --thy-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --thy-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --gau-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gau-100: oklch(0.73 0.096 319.20); /* RL: 0.3661, CR: 06.01 */
  --gau-200: oklch(0.66 0.104 320.21); /* RL: 0.2733, CR: 04.67 */
  --gau-300: oklch(0.58 0.121 319.42); /* RL: 0.1811, CR: 03.34 */
  --gau-400: oklch(0.46 0.099 319.26); /* RL: 0.0892, CR: 02.01 */
  --gau-500: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gau-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gau-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gau-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gau-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gau-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --plm-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --plm-100: oklch(0.62 0.058 325.23); /* RL: 0.2252, CR: 03.97 */
  --plm-200: oklch(0.56 0.061 325.35); /* RL: 0.1683, CR: 03.15 */
  --plm-300: oklch(0.51 0.057 325.26); /* RL: 0.1250, CR: 02.52 */
  --plm-400: oklch(0.45 0.052 325.16); /* RL: 0.0847, CR: 01.94 */
  --plm-500: oklch(0.39 0.046 326.42); /* RL: 0.0563, CR: 01.53 */
  --plm-600: oklch(0.35 0.037 326.33); /* RL: 0.0415, CR: 01.32 */
  --plm-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --plm-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --plm-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --plm-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --blk-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blk-100: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blk-200: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blk-300: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blk-400: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blk-500: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blk-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blk-700: oklch(0.23 0.008 285.79); /* RL: 0.0125, CR: 01.11 */
  --blk-800: oklch(0.20 0.008 285.67); /* RL: 0.0082, CR: 01.19 */
  --blk-900: oklch(0.17 0.008 285.52); /* RL: 0.0053, CR: 01.25 */
  --blk-950: oklch(0.15 0.009 285.34); /* RL: 0.0034, CR: 01.30 */
 
  --gry-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gry-100: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gry-200: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gry-300: oklch(0.35 0.021 277.79); /* RL: 0.0417, CR: 01.32 */
  --gry-400: oklch(0.38 0.024 278.79); /* RL: 0.0540, CR: 01.50 */
  --gry-500: oklch(0.44 0.030 280.12); /* RL: 0.0845, CR: 01.94 */
  --gry-600: oklch(0.50 0.035 278.95); /* RL: 0.1252, CR: 02.53 */
  --gry-700: oklch(0.55 0.039 279.66); /* RL: 0.1664, CR: 03.12 */
  --gry-800: oklch(0.61 0.036 281.50); /* RL: 0.2251, CR: 03.97 */
  --gry-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gry-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --wht-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --wht-100: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --wht-200: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --wht-300: oklch(0.84 0.035 285.64); /* RL: 0.5968, CR: 09.33 */
  --wht-400: oklch(0.87 0.036 285.64); /* RL: 0.6655, CR: 10.33 */
  --wht-500: oklch(0.91 0.034 285.70); /* RL: 0.7374, CR: 11.36 */
  --wht-600: oklch(0.94 0.024 285.93); /* RL: 0.8256, CR: 12.64 */
  --wht-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --wht-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --wht-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --wht-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
}
