:root {
/* Base */
  --bgc-50:  oklch(0.37 0.032 276.31); /* RL: 0.0500, CR: 01.44 */
  --bgc-100: oklch(0.35 0.032 276.31); /* RL: 0.0423, CR: 01.33 */
  --bgc-200: oklch(0.33 0.032 276.31); /* RL: 0.0354, CR: 01.23 */
  --bgc-300: oklch(0.31 0.032 276.31); /* RL: 0.0293, CR: 01.14 */
  --bgc-400: oklch(0.29 0.032 276.31); /* RL: 0.0239, CR: 01.07 */
  --bgc-500: oklch(0.27 0.032 276.31); /* RL: 0.0193, CR: 01.00 */
  --bgc-600: oklch(0.25 0.032 276.31); /* RL: 0.0145, CR: 01.07 */
  --bgc-700: oklch(0.22 0.032 276.31); /* RL: 0.0106, CR: 01.14 */
  --bgc-800: oklch(0.20 0.032 276.31); /* RL: 0.0074, CR: 01.21 */
  --bgc-900: oklch(0.17 0.032 276.31); /* RL: 0.0050, CR: 01.26 */
  --bgc-950: oklch(0.15 0.032 276.31); /* RL: 0.0031, CR: 01.30 */
 
  --fgc-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --fgc-100: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --fgc-200: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --fgc-300: oklch(0.89 0.054 277.23); /* RL: 0.6988, CR: 10.81 */
  --fgc-400: oklch(0.87 0.059 277.67); /* RL: 0.6512, CR: 10.12 */
  --fgc-500: oklch(0.84 0.071 277.66); /* RL: 0.5811, CR: 09.11 */
  --fgc-600: oklch(0.82 0.078 276.51); /* RL: 0.5436, CR: 08.57 */
  --fgc-700: oklch(0.80 0.090 276.50); /* RL: 0.5047, CR: 08.01 */
  --fgc-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --fgc-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --fgc-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
/* Colors */
  --rby-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --rby-100: oklch(0.78 0.104 009.88); /* RL: 0.4552, CR: 07.29 */
  --rby-200: oklch(0.74 0.127 010.81); /* RL: 0.3840, CR: 06.26 */
  --rby-300: oklch(0.72 0.145 014.00); /* RL: 0.3422, CR: 05.66 */
  --rby-400: oklch(0.69 0.170 016.04); /* RL: 0.3051, CR: 05.13 */
  --rby-500: oklch(0.65 0.208 019.64); /* RL: 0.2414, CR: 04.21 */
  --rby-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --rby-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --rby-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --rby-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --rby-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --orn-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --orn-100: oklch(0.82 0.100 054.93); /* RL: 0.5432, CR: 08.56 */
  --orn-200: oklch(0.78 0.116 051.49); /* RL: 0.4554, CR: 07.29 */
  --orn-300: oklch(0.74 0.129 049.10); /* RL: 0.3840, CR: 06.26 */
  --orn-400: oklch(0.71 0.145 047.63); /* RL: 0.3423, CR: 05.66 */
  --orn-500: oklch(0.67 0.169 044.62); /* RL: 0.2735, CR: 04.67 */
  --orn-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --orn-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --orn-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --orn-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --orn-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --sun-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --sun-100: oklch(0.89 0.085 082.80); /* RL: 0.6930, CR: 10.72 */
  --sun-200: oklch(0.87 0.098 082.08); /* RL: 0.6515, CR: 10.12 */
  --sun-300: oklch(0.84 0.121 078.27); /* RL: 0.5813, CR: 09.11 */
  --sun-400: oklch(0.82 0.135 076.93); /* RL: 0.5435, CR: 08.56 */
  --sun-500: oklch(0.78 0.149 069.36); /* RL: 0.4553, CR: 07.29 */
  --sun-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --sun-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --sun-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --sun-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --sun-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --grn-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --grn-100: oklch(0.82 0.128 135.89); /* RL: 0.5812, CR: 09.11 */
  --grn-200: oklch(0.78 0.124 135.55); /* RL: 0.5048, CR: 08.01 */
  --grn-300: oklch(0.73 0.120 136.46); /* RL: 0.4121, CR: 06.67 */
  --grn-400: oklch(0.69 0.130 136.95); /* RL: 0.3427, CR: 05.67 */
  --grn-500: oklch(0.61 0.131 137.20); /* RL: 0.2411, CR: 04.20 */
  --grn-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --grn-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --grn-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --grn-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --grn-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --emr-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --emr-100: oklch(0.80 0.142 149.32); /* RL: 0.5431, CR: 08.56 */
  --emr-200: oklch(0.75 0.154 148.66); /* RL: 0.4551, CR: 07.29 */
  --emr-300: oklch(0.71 0.144 148.25); /* RL: 0.3839, CR: 06.26 */
  --emr-400: oklch(0.66 0.146 147.72); /* RL: 0.3051, CR: 05.12 */
  --emr-500: oklch(0.61 0.159 146.69); /* RL: 0.2407, CR: 04.20 */
  --emr-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --emr-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --emr-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --emr-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --emr-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --cyn-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyn-100: oklch(0.85 0.107 182.69); /* RL: 0.6518, CR: 10.13 */
  --cyn-200: oklch(0.82 0.125 180.84); /* RL: 0.5812, CR: 09.11 */
  --cyn-300: oklch(0.78 0.129 179.71); /* RL: 0.5048, CR: 08.01 */
  --cyn-400: oklch(0.75 0.128 178.70); /* RL: 0.4553, CR: 07.29 */
  --cyn-500: oklch(0.68 0.117 176.77); /* RL: 0.3422, CR: 05.66 */
  --cyn-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyn-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyn-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyn-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyn-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --sky-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --sky-100: oklch(0.83 0.083 233.37); /* RL: 0.5812, CR: 09.11 */
  --sky-200: oklch(0.79 0.094 234.96); /* RL: 0.5045, CR: 08.00 */
  --sky-300: oklch(0.76 0.105 235.53); /* RL: 0.4558, CR: 07.30 */
  --sky-400: oklch(0.72 0.114 235.17); /* RL: 0.3842, CR: 06.27 */
  --sky-500: oklch(0.67 0.125 236.69); /* RL: 0.3049, CR: 05.12 */
  --sky-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --sky-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --sky-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --sky-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --sky-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --blu-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blu-100: oklch(0.77 0.098 270.42); /* RL: 0.4554, CR: 07.29 */
  --blu-200: oklch(0.73 0.119 269.44); /* RL: 0.3842, CR: 06.27 */
  --blu-300: oklch(0.68 0.142 268.91); /* RL: 0.3050, CR: 05.12 */
  --blu-400: oklch(0.63 0.165 269.85); /* RL: 0.2415, CR: 04.21 */
  --blu-500: oklch(0.57 0.186 268.34); /* RL: 0.1752, CR: 03.25 */
  --blu-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blu-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blu-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blu-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blu-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --prp-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --prp-100: oklch(0.78 0.093 297.61); /* RL: 0.4556, CR: 07.30 */
  --prp-200: oklch(0.74 0.113 297.71); /* RL: 0.3840, CR: 06.26 */
  --prp-300: oklch(0.68 0.127 296.09); /* RL: 0.3051, CR: 05.13 */
  --prp-400: oklch(0.64 0.145 295.63); /* RL: 0.2412, CR: 04.20 */
  --prp-500: oklch(0.57 0.161 293.50); /* RL: 0.1747, CR: 03.24 */
  --prp-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --prp-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --prp-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --prp-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --prp-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --pnk-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --pnk-100: oklch(0.78 0.117 342.65); /* RL: 0.4552, CR: 07.29 */
  --pnk-200: oklch(0.74 0.138 343.17); /* RL: 0.3842, CR: 06.27 */
  --pnk-300: oklch(0.72 0.166 343.07); /* RL: 0.3425, CR: 05.66 */
  --pnk-400: oklch(0.70 0.171 343.36); /* RL: 0.3052, CR: 05.13 */
  --pnk-500: oklch(0.64 0.168 344.19); /* RL: 0.2414, CR: 04.20 */
  --pnk-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --pnk-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --pnk-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --pnk-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --pnk-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
/* Muted */
  --ade-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --ade-100: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --ade-200: oklch(0.72 0.073 023.31); /* RL: 0.3660, CR: 06.00 */
  --ade-300: oklch(0.66 0.095 020.77); /* RL: 0.2730, CR: 04.66 */
  --ade-400: oklch(0.58 0.108 023.14); /* RL: 0.1811, CR: 03.33 */
  --ade-500: oklch(0.46 0.090 021.18); /* RL: 0.0891, CR: 02.01 */
  --ade-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --ade-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --ade-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --ade-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --ade-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --rst-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --rst-100: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --rst-200: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --rst-300: oklch(0.35 0.030 031.46); /* RL: 0.0418, CR: 01.33 */
  --rst-400: oklch(0.39 0.035 032.00); /* RL: 0.0572, CR: 01.55 */
  --rst-500: oklch(0.44 0.043 033.53); /* RL: 0.0845, CR: 01.94 */
  --rst-600: oklch(0.51 0.052 032.23); /* RL: 0.1251, CR: 02.53 */
  --rst-700: oklch(0.56 0.058 033.53); /* RL: 0.1660, CR: 03.12 */
  --rst-800: oklch(0.61 0.057 034.83); /* RL: 0.2232, CR: 03.94 */
  --rst-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --rst-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --cyt-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyt-100: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyt-200: oklch(0.71 0.070 117.41); /* RL: 0.3658, CR: 06.00 */
  --cyt-300: oklch(0.64 0.080 116.81); /* RL: 0.2734, CR: 04.67 */
  --cyt-400: oklch(0.56 0.077 117.55); /* RL: 0.1811, CR: 03.33 */
  --cyt-500: oklch(0.44 0.060 118.38); /* RL: 0.0891, CR: 02.01 */
  --cyt-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyt-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyt-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyt-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --cyt-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --olv-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --olv-100: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --olv-200: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --olv-300: oklch(0.35 0.003 164.90); /* RL: 0.0416, CR: 01.32 */
  --olv-400: oklch(0.38 0.003 164.93); /* RL: 0.0553, CR: 01.52 */
  --olv-500: oklch(0.44 0.003 164.96); /* RL: 0.0833, CR: 01.92 */
  --olv-600: oklch(0.50 0.006 164.83); /* RL: 0.1222, CR: 02.48 */
  --olv-700: oklch(0.55 0.006 164.87); /* RL: 0.1652, CR: 03.11 */
  --olv-800: oklch(0.61 0.003 165.02); /* RL: 0.2251, CR: 03.97 */
  --olv-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --olv-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --frt-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --frt-100: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --frt-200: oklch(0.71 0.082 159.39); /* RL: 0.3658, CR: 06.00 */
  --frt-300: oklch(0.64 0.087 158.75); /* RL: 0.2731, CR: 04.66 */
  --frt-400: oklch(0.56 0.075 158.42); /* RL: 0.1810, CR: 03.33 */
  --frt-500: oklch(0.44 0.055 158.23); /* RL: 0.0892, CR: 02.01 */
  --frt-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --frt-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --frt-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --frt-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --frt-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --slt-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --slt-100: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --slt-200: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --slt-300: oklch(0.35 0.046 277.02); /* RL: 0.0417, CR: 01.32 */
  --slt-400: oklch(0.39 0.057 276.80); /* RL: 0.0562, CR: 01.53 */
  --slt-500: oklch(0.44 0.065 276.66); /* RL: 0.0811, CR: 01.89 */
  --slt-600: oklch(0.50 0.074 276.75); /* RL: 0.1218, CR: 02.48 */
  --slt-700: oklch(0.55 0.079 278.31); /* RL: 0.1667, CR: 03.13 */
  --slt-800: oklch(0.61 0.074 280.35); /* RL: 0.2252, CR: 03.97 */
  --slt-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --slt-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --thy-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --thy-100: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --thy-200: oklch(0.72 0.056 261.58); /* RL: 0.3660, CR: 06.00 */
  --thy-300: oklch(0.65 0.069 259.37); /* RL: 0.2730, CR: 04.66 */
  --thy-400: oklch(0.57 0.077 259.66); /* RL: 0.1810, CR: 03.33 */
  --thy-500: oklch(0.45 0.072 258.28); /* RL: 0.0888, CR: 02.00 */
  --thy-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --thy-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --thy-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --thy-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --thy-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --glc-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --glc-100: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --glc-200: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --glc-300: oklch(0.29 0.046 277.85); /* RL: 0.0229, CR: 01.05 */
  --glc-400: oklch(0.30 0.052 278.24); /* RL: 0.0265, CR: 01.10 */
  --glc-500: oklch(0.34 0.067 277.68); /* RL: 0.0382, CR: 01.27 */
  --glc-600: oklch(0.41 0.085 276.87); /* RL: 0.0667, CR: 01.68 */
  --glc-700: oklch(0.47 0.100 277.64); /* RL: 0.1004, CR: 02.17 */
  --glc-800: oklch(0.52 0.114 277.50); /* RL: 0.1363, CR: 02.69 */
  --glc-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --glc-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --gau-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gau-100: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gau-200: oklch(0.73 0.096 319.20); /* RL: 0.3661, CR: 06.01 */
  --gau-300: oklch(0.66 0.104 320.21); /* RL: 0.2733, CR: 04.67 */
  --gau-400: oklch(0.58 0.121 319.42); /* RL: 0.1811, CR: 03.34 */
  --gau-500: oklch(0.46 0.099 319.26); /* RL: 0.0892, CR: 02.01 */
  --gau-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gau-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gau-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gau-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gau-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --plm-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --plm-100: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --plm-200: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --plm-300: oklch(0.35 0.037 326.33); /* RL: 0.0415, CR: 01.32 */
  --plm-400: oklch(0.39 0.046 326.42); /* RL: 0.0563, CR: 01.53 */
  --plm-500: oklch(0.45 0.052 325.16); /* RL: 0.0847, CR: 01.94 */
  --plm-600: oklch(0.51 0.057 325.26); /* RL: 0.1250, CR: 02.52 */
  --plm-700: oklch(0.56 0.061 325.35); /* RL: 0.1683, CR: 03.15 */
  --plm-800: oklch(0.62 0.058 325.23); /* RL: 0.2252, CR: 03.97 */
  --plm-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --plm-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
/* Grays */
  --blk-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blk-100: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blk-200: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blk-300: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blk-400: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blk-500: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blk-600: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --blk-700: oklch(0.23 0.008 285.79); /* RL: 0.0125, CR: 01.11 */
  --blk-800: oklch(0.20 0.008 285.67); /* RL: 0.0082, CR: 01.19 */
  --blk-900: oklch(0.17 0.008 285.52); /* RL: 0.0053, CR: 01.25 */
  --blk-950: oklch(0.15 0.009 285.34); /* RL: 0.0034, CR: 01.30 */
 
  --gry-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gry-100: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gry-200: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gry-300: oklch(0.35 0.021 277.79); /* RL: 0.0417, CR: 01.32 */
  --gry-400: oklch(0.38 0.024 278.79); /* RL: 0.0540, CR: 01.50 */
  --gry-500: oklch(0.44 0.030 280.12); /* RL: 0.0845, CR: 01.94 */
  --gry-600: oklch(0.50 0.035 278.95); /* RL: 0.1252, CR: 02.53 */
  --gry-700: oklch(0.55 0.039 279.66); /* RL: 0.1664, CR: 03.12 */
  --gry-800: oklch(0.61 0.036 281.50); /* RL: 0.2251, CR: 03.97 */
  --gry-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --gry-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
  --wht-50:  oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --wht-100: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --wht-200: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --wht-300: oklch(0.84 0.035 285.64); /* RL: 0.5968, CR: 09.33 */
  --wht-400: oklch(0.87 0.036 285.64); /* RL: 0.6655, CR: 10.33 */
  --wht-500: oklch(0.91 0.034 285.70); /* RL: 0.7374, CR: 11.36 */
  --wht-600: oklch(0.94 0.024 285.93); /* RL: 0.8256, CR: 12.64 */
  --wht-700: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --wht-800: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --wht-900: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
  --wht-950: oklch(0.00 0.000 000.00); /* RL: 0.0000, CR: 01.39 */
 
}
