@theme {
  /* Colors */
  --color-bgc-50: var(--bgc-50);
  --color-bgc-100: var(--bgc-100);
  --color-bgc-200: var(--bgc-200);
  --color-bgc-300: var(--bgc-300);
  --color-bgc-400: var(--bgc-400);
  --color-bgc-500: var(--bgc-500);
  --color-bgc-600: var(--bgc-600);
  --color-bgc-700: var(--bgc-700);
  --color-bgc-800: var(--bgc-800);
  --color-bgc-900: var(--bgc-900);
  --color-bgc-950: var(--bgc-950);

  --color-fgc-50: var(--fgc-50);
  --color-fgc-100: var(--fgc-100);
  --color-fgc-200: var(--fgc-200);
  --color-fgc-300: var(--fgc-300);
  --color-fgc-400: var(--fgc-400);
  --color-fgc-500: var(--fgc-500);
  --color-fgc-600: var(--fgc-600);
  --color-fgc-700: var(--fgc-700);
  --color-fgc-800: var(--fgc-800);
  --color-fgc-900: var(--fgc-900);
  --color-fgc-950: var(--fgc-950);

  --color-rby-50: var(--rby-50);
  --color-rby-100: var(--rby-100);
  --color-rby-200: var(--rby-200);
  --color-rby-300: var(--rby-300);
  --color-rby-400: var(--rby-400);
  --color-rby-500: var(--rby-500);
  --color-rby-600: var(--rby-600);
  --color-rby-700: var(--rby-700);
  --color-rby-800: var(--rby-800);
  --color-rby-900: var(--rby-900);
  --color-rby-950: var(--rby-950);

  --color-bry-50: var(--bry-50);
  --color-bry-100: var(--bry-100);
  --color-bry-200: var(--bry-200);
  --color-bry-300: var(--bry-300);
  --color-bry-400: var(--bry-400);
  --color-bry-500: var(--bry-500);
  --color-bry-600: var(--bry-600);
  --color-bry-700: var(--bry-700);
  --color-bry-800: var(--bry-800);
  --color-bry-900: var(--bry-900);
  --color-bry-950: var(--bry-950);

  --color-chy-50: var(--chy-50);
  --color-chy-100: var(--chy-100);
  --color-chy-200: var(--chy-200);
  --color-chy-300: var(--chy-300);
  --color-chy-400: var(--chy-400);
  --color-chy-500: var(--chy-500);
  --color-chy-600: var(--chy-600);
  --color-chy-700: var(--chy-700);
  --color-chy-800: var(--chy-800);
  --color-chy-900: var(--chy-900);
  --color-chy-950: var(--chy-950);

  --color-red-50: var(--red-50);
  --color-red-100: var(--red-100);
  --color-red-200: var(--red-200);
  --color-red-300: var(--red-300);
  --color-red-400: var(--red-400);
  --color-red-500: var(--red-500);
  --color-red-600: var(--red-600);
  --color-red-700: var(--red-700);
  --color-red-800: var(--red-800);
  --color-red-900: var(--red-900);
  --color-red-950: var(--red-950);

  --color-crl-50: var(--crl-50);
  --color-crl-100: var(--crl-100);
  --color-crl-200: var(--crl-200);
  --color-crl-300: var(--crl-300);
  --color-crl-400: var(--crl-400);
  --color-crl-500: var(--crl-500);
  --color-crl-600: var(--crl-600);
  --color-crl-700: var(--crl-700);
  --color-crl-800: var(--crl-800);
  --color-crl-900: var(--crl-900);
  --color-crl-950: var(--crl-950);

  --color-orn-50: var(--orn-50);
  --color-orn-100: var(--orn-100);
  --color-orn-200: var(--orn-200);
  --color-orn-300: var(--orn-300);
  --color-orn-400: var(--orn-400);
  --color-orn-500: var(--orn-500);
  --color-orn-600: var(--orn-600);
  --color-orn-700: var(--orn-700);
  --color-orn-800: var(--orn-800);
  --color-orn-900: var(--orn-900);
  --color-orn-950: var(--orn-950);

  --color-pmk-50: var(--pmk-50);
  --color-pmk-100: var(--pmk-100);
  --color-pmk-200: var(--pmk-200);
  --color-pmk-300: var(--pmk-300);
  --color-pmk-400: var(--pmk-400);
  --color-pmk-500: var(--pmk-500);
  --color-pmk-600: var(--pmk-600);
  --color-pmk-700: var(--pmk-700);
  --color-pmk-800: var(--pmk-800);
  --color-pmk-900: var(--pmk-900);
  --color-pmk-950: var(--pmk-950);

  --color-sun-50: var(--sun-50);
  --color-sun-100: var(--sun-100);
  --color-sun-200: var(--sun-200);
  --color-sun-300: var(--sun-300);
  --color-sun-400: var(--sun-400);
  --color-sun-500: var(--sun-500);
  --color-sun-600: var(--sun-600);
  --color-sun-700: var(--sun-700);
  --color-sun-800: var(--sun-800);
  --color-sun-900: var(--sun-900);
  --color-sun-950: var(--sun-950);

  --color-gld-50: var(--gld-50);
  --color-gld-100: var(--gld-100);
  --color-gld-200: var(--gld-200);
  --color-gld-300: var(--gld-300);
  --color-gld-400: var(--gld-400);
  --color-gld-500: var(--gld-500);
  --color-gld-600: var(--gld-600);
  --color-gld-700: var(--gld-700);
  --color-gld-800: var(--gld-800);
  --color-gld-900: var(--gld-900);
  --color-gld-950: var(--gld-950);

  --color-yel-50: var(--yel-50);
  --color-yel-100: var(--yel-100);
  --color-yel-200: var(--yel-200);
  --color-yel-300: var(--yel-300);
  --color-yel-400: var(--yel-400);
  --color-yel-500: var(--yel-500);
  --color-yel-600: var(--yel-600);
  --color-yel-700: var(--yel-700);
  --color-yel-800: var(--yel-800);
  --color-yel-900: var(--yel-900);
  --color-yel-950: var(--yel-950);

  --color-lem-50: var(--lem-50);
  --color-lem-100: var(--lem-100);
  --color-lem-200: var(--lem-200);
  --color-lem-300: var(--lem-300);
  --color-lem-400: var(--lem-400);
  --color-lem-500: var(--lem-500);
  --color-lem-600: var(--lem-600);
  --color-lem-700: var(--lem-700);
  --color-lem-800: var(--lem-800);
  --color-lem-900: var(--lem-900);
  --color-lem-950: var(--lem-950);

  --color-lim-50: var(--lim-50);
  --color-lim-100: var(--lim-100);
  --color-lim-200: var(--lim-200);
  --color-lim-300: var(--lim-300);
  --color-lim-400: var(--lim-400);
  --color-lim-500: var(--lim-500);
  --color-lim-600: var(--lim-600);
  --color-lim-700: var(--lim-700);
  --color-lim-800: var(--lim-800);
  --color-lim-900: var(--lim-900);
  --color-lim-950: var(--lim-950);

  --color-acd-50: var(--acd-50);
  --color-acd-100: var(--acd-100);
  --color-acd-200: var(--acd-200);
  --color-acd-300: var(--acd-300);
  --color-acd-400: var(--acd-400);
  --color-acd-500: var(--acd-500);
  --color-acd-600: var(--acd-600);
  --color-acd-700: var(--acd-700);
  --color-acd-800: var(--acd-800);
  --color-acd-900: var(--acd-900);
  --color-acd-950: var(--acd-950);

  --color-kwi-50: var(--kwi-50);
  --color-kwi-100: var(--kwi-100);
  --color-kwi-200: var(--kwi-200);
  --color-kwi-300: var(--kwi-300);
  --color-kwi-400: var(--kwi-400);
  --color-kwi-500: var(--kwi-500);
  --color-kwi-600: var(--kwi-600);
  --color-kwi-700: var(--kwi-700);
  --color-kwi-800: var(--kwi-800);
  --color-kwi-900: var(--kwi-900);
  --color-kwi-950: var(--kwi-950);

  --color-grn-50: var(--grn-50);
  --color-grn-100: var(--grn-100);
  --color-grn-200: var(--grn-200);
  --color-grn-300: var(--grn-300);
  --color-grn-400: var(--grn-400);
  --color-grn-500: var(--grn-500);
  --color-grn-600: var(--grn-600);
  --color-grn-700: var(--grn-700);
  --color-grn-800: var(--grn-800);
  --color-grn-900: var(--grn-900);
  --color-grn-950: var(--grn-950);

  --color-spr-50: var(--spr-50);
  --color-spr-100: var(--spr-100);
  --color-spr-200: var(--spr-200);
  --color-spr-300: var(--spr-300);
  --color-spr-400: var(--spr-400);
  --color-spr-500: var(--spr-500);
  --color-spr-600: var(--spr-600);
  --color-spr-700: var(--spr-700);
  --color-spr-800: var(--spr-800);
  --color-spr-900: var(--spr-900);
  --color-spr-950: var(--spr-950);

  --color-jde-50: var(--jde-50);
  --color-jde-100: var(--jde-100);
  --color-jde-200: var(--jde-200);
  --color-jde-300: var(--jde-300);
  --color-jde-400: var(--jde-400);
  --color-jde-500: var(--jde-500);
  --color-jde-600: var(--jde-600);
  --color-jde-700: var(--jde-700);
  --color-jde-800: var(--jde-800);
  --color-jde-900: var(--jde-900);
  --color-jde-950: var(--jde-950);

  --color-emr-50: var(--emr-50);
  --color-emr-100: var(--emr-100);
  --color-emr-200: var(--emr-200);
  --color-emr-300: var(--emr-300);
  --color-emr-400: var(--emr-400);
  --color-emr-500: var(--emr-500);
  --color-emr-600: var(--emr-600);
  --color-emr-700: var(--emr-700);
  --color-emr-800: var(--emr-800);
  --color-emr-900: var(--emr-900);
  --color-emr-950: var(--emr-950);

  --color-lea-50: var(--lea-50);
  --color-lea-100: var(--lea-100);
  --color-lea-200: var(--lea-200);
  --color-lea-300: var(--lea-300);
  --color-lea-400: var(--lea-400);
  --color-lea-500: var(--lea-500);
  --color-lea-600: var(--lea-600);
  --color-lea-700: var(--lea-700);
  --color-lea-800: var(--lea-800);
  --color-lea-900: var(--lea-900);
  --color-lea-950: var(--lea-950);

  --color-frs-50: var(--frs-50);
  --color-frs-100: var(--frs-100);
  --color-frs-200: var(--frs-200);
  --color-frs-300: var(--frs-300);
  --color-frs-400: var(--frs-400);
  --color-frs-500: var(--frs-500);
  --color-frs-600: var(--frs-600);
  --color-frs-700: var(--frs-700);
  --color-frs-800: var(--frs-800);
  --color-frs-900: var(--frs-900);
  --color-frs-950: var(--frs-950);

  --color-cyn-50: var(--cyn-50);
  --color-cyn-100: var(--cyn-100);
  --color-cyn-200: var(--cyn-200);
  --color-cyn-300: var(--cyn-300);
  --color-cyn-400: var(--cyn-400);
  --color-cyn-500: var(--cyn-500);
  --color-cyn-600: var(--cyn-600);
  --color-cyn-700: var(--cyn-700);
  --color-cyn-800: var(--cyn-800);
  --color-cyn-900: var(--cyn-900);
  --color-cyn-950: var(--cyn-950);

  --color-tea-50: var(--tea-50);
  --color-tea-100: var(--tea-100);
  --color-tea-200: var(--tea-200);
  --color-tea-300: var(--tea-300);
  --color-tea-400: var(--tea-400);
  --color-tea-500: var(--tea-500);
  --color-tea-600: var(--tea-600);
  --color-tea-700: var(--tea-700);
  --color-tea-800: var(--tea-800);
  --color-tea-900: var(--tea-900);
  --color-tea-950: var(--tea-950);

  --color-aqu-50: var(--aqu-50);
  --color-aqu-100: var(--aqu-100);
  --color-aqu-200: var(--aqu-200);
  --color-aqu-300: var(--aqu-300);
  --color-aqu-400: var(--aqu-400);
  --color-aqu-500: var(--aqu-500);
  --color-aqu-600: var(--aqu-600);
  --color-aqu-700: var(--aqu-700);
  --color-aqu-800: var(--aqu-800);
  --color-aqu-900: var(--aqu-900);
  --color-aqu-950: var(--aqu-950);

  --color-sky-50: var(--sky-50);
  --color-sky-100: var(--sky-100);
  --color-sky-200: var(--sky-200);
  --color-sky-300: var(--sky-300);
  --color-sky-400: var(--sky-400);
  --color-sky-500: var(--sky-500);
  --color-sky-600: var(--sky-600);
  --color-sky-700: var(--sky-700);
  --color-sky-800: var(--sky-800);
  --color-sky-900: var(--sky-900);
  --color-sky-950: var(--sky-950);

  --color-rbn-50: var(--rbn-50);
  --color-rbn-100: var(--rbn-100);
  --color-rbn-200: var(--rbn-200);
  --color-rbn-300: var(--rbn-300);
  --color-rbn-400: var(--rbn-400);
  --color-rbn-500: var(--rbn-500);
  --color-rbn-600: var(--rbn-600);
  --color-rbn-700: var(--rbn-700);
  --color-rbn-800: var(--rbn-800);
  --color-rbn-900: var(--rbn-900);
  --color-rbn-950: var(--rbn-950);

  --color-azr-50: var(--azr-50);
  --color-azr-100: var(--azr-100);
  --color-azr-200: var(--azr-200);
  --color-azr-300: var(--azr-300);
  --color-azr-400: var(--azr-400);
  --color-azr-500: var(--azr-500);
  --color-azr-600: var(--azr-600);
  --color-azr-700: var(--azr-700);
  --color-azr-800: var(--azr-800);
  --color-azr-900: var(--azr-900);
  --color-azr-950: var(--azr-950);

  --color-cbt-50: var(--cbt-50);
  --color-cbt-100: var(--cbt-100);
  --color-cbt-200: var(--cbt-200);
  --color-cbt-300: var(--cbt-300);
  --color-cbt-400: var(--cbt-400);
  --color-cbt-500: var(--cbt-500);
  --color-cbt-600: var(--cbt-600);
  --color-cbt-700: var(--cbt-700);
  --color-cbt-800: var(--cbt-800);
  --color-cbt-900: var(--cbt-900);
  --color-cbt-950: var(--cbt-950);

  --color-sph-50: var(--sph-50);
  --color-sph-100: var(--sph-100);
  --color-sph-200: var(--sph-200);
  --color-sph-300: var(--sph-300);
  --color-sph-400: var(--sph-400);
  --color-sph-500: var(--sph-500);
  --color-sph-600: var(--sph-600);
  --color-sph-700: var(--sph-700);
  --color-sph-800: var(--sph-800);
  --color-sph-900: var(--sph-900);
  --color-sph-950: var(--sph-950);

  --color-ind-50: var(--ind-50);
  --color-ind-100: var(--ind-100);
  --color-ind-200: var(--ind-200);
  --color-ind-300: var(--ind-300);
  --color-ind-400: var(--ind-400);
  --color-ind-500: var(--ind-500);
  --color-ind-600: var(--ind-600);
  --color-ind-700: var(--ind-700);
  --color-ind-800: var(--ind-800);
  --color-ind-900: var(--ind-900);
  --color-ind-950: var(--ind-950);

  --color-blu-50: var(--blu-50);
  --color-blu-100: var(--blu-100);
  --color-blu-200: var(--blu-200);
  --color-blu-300: var(--blu-300);
  --color-blu-400: var(--blu-400);
  --color-blu-500: var(--blu-500);
  --color-blu-600: var(--blu-600);
  --color-blu-700: var(--blu-700);
  --color-blu-800: var(--blu-800);
  --color-blu-900: var(--blu-900);
  --color-blu-950: var(--blu-950);

  --color-lav-50: var(--lav-50);
  --color-lav-100: var(--lav-100);
  --color-lav-200: var(--lav-200);
  --color-lav-300: var(--lav-300);
  --color-lav-400: var(--lav-400);
  --color-lav-500: var(--lav-500);
  --color-lav-600: var(--lav-600);
  --color-lav-700: var(--lav-700);
  --color-lav-800: var(--lav-800);
  --color-lav-900: var(--lav-900);
  --color-lav-950: var(--lav-950);

  --color-prp-50: var(--prp-50);
  --color-prp-100: var(--prp-100);
  --color-prp-200: var(--prp-200);
  --color-prp-300: var(--prp-300);
  --color-prp-400: var(--prp-400);
  --color-prp-500: var(--prp-500);
  --color-prp-600: var(--prp-600);
  --color-prp-700: var(--prp-700);
  --color-prp-800: var(--prp-800);
  --color-prp-900: var(--prp-900);
  --color-prp-950: var(--prp-950);

  --color-vio-50: var(--vio-50);
  --color-vio-100: var(--vio-100);
  --color-vio-200: var(--vio-200);
  --color-vio-300: var(--vio-300);
  --color-vio-400: var(--vio-400);
  --color-vio-500: var(--vio-500);
  --color-vio-600: var(--vio-600);
  --color-vio-700: var(--vio-700);
  --color-vio-800: var(--vio-800);
  --color-vio-900: var(--vio-900);
  --color-vio-950: var(--vio-950);

  --color-mag-50: var(--mag-50);
  --color-mag-100: var(--mag-100);
  --color-mag-200: var(--mag-200);
  --color-mag-300: var(--mag-300);
  --color-mag-400: var(--mag-400);
  --color-mag-500: var(--mag-500);
  --color-mag-600: var(--mag-600);
  --color-mag-700: var(--mag-700);
  --color-mag-800: var(--mag-800);
  --color-mag-900: var(--mag-900);
  --color-mag-950: var(--mag-950);

  --color-ros-50: var(--ros-50);
  --color-ros-100: var(--ros-100);
  --color-ros-200: var(--ros-200);
  --color-ros-300: var(--ros-300);
  --color-ros-400: var(--ros-400);
  --color-ros-500: var(--ros-500);
  --color-ros-600: var(--ros-600);
  --color-ros-700: var(--ros-700);
  --color-ros-800: var(--ros-800);
  --color-ros-900: var(--ros-900);
  --color-ros-950: var(--ros-950);

  --color-pnk-50: var(--pnk-50);
  --color-pnk-100: var(--pnk-100);
  --color-pnk-200: var(--pnk-200);
  --color-pnk-300: var(--pnk-300);
  --color-pnk-400: var(--pnk-400);
  --color-pnk-500: var(--pnk-500);
  --color-pnk-600: var(--pnk-600);
  --color-pnk-700: var(--pnk-700);
  --color-pnk-800: var(--pnk-800);
  --color-pnk-900: var(--pnk-900);
  --color-pnk-950: var(--pnk-950);

  --color-ade-50: var(--ade-50);
  --color-ade-100: var(--ade-100);
  --color-ade-200: var(--ade-200);
  --color-ade-300: var(--ade-300);
  --color-ade-400: var(--ade-400);
  --color-ade-500: var(--ade-500);
  --color-ade-600: var(--ade-600);
  --color-ade-700: var(--ade-700);
  --color-ade-800: var(--ade-800);
  --color-ade-900: var(--ade-900);
  --color-ade-950: var(--ade-950);

  --color-rst-50: var(--rst-50);
  --color-rst-100: var(--rst-100);
  --color-rst-200: var(--rst-200);
  --color-rst-300: var(--rst-300);
  --color-rst-400: var(--rst-400);
  --color-rst-500: var(--rst-500);
  --color-rst-600: var(--rst-600);
  --color-rst-700: var(--rst-700);
  --color-rst-800: var(--rst-800);
  --color-rst-900: var(--rst-900);
  --color-rst-950: var(--rst-950);

  --color-cyt-50: var(--cyt-50);
  --color-cyt-100: var(--cyt-100);
  --color-cyt-200: var(--cyt-200);
  --color-cyt-300: var(--cyt-300);
  --color-cyt-400: var(--cyt-400);
  --color-cyt-500: var(--cyt-500);
  --color-cyt-600: var(--cyt-600);
  --color-cyt-700: var(--cyt-700);
  --color-cyt-800: var(--cyt-800);
  --color-cyt-900: var(--cyt-900);
  --color-cyt-950: var(--cyt-950);

  --color-olv-50: var(--olv-50);
  --color-olv-100: var(--olv-100);
  --color-olv-200: var(--olv-200);
  --color-olv-300: var(--olv-300);
  --color-olv-400: var(--olv-400);
  --color-olv-500: var(--olv-500);
  --color-olv-600: var(--olv-600);
  --color-olv-700: var(--olv-700);
  --color-olv-800: var(--olv-800);
  --color-olv-900: var(--olv-900);
  --color-olv-950: var(--olv-950);

  --color-slt-50: var(--slt-50);
  --color-slt-100: var(--slt-100);
  --color-slt-200: var(--slt-200);
  --color-slt-300: var(--slt-300);
  --color-slt-400: var(--slt-400);
  --color-slt-500: var(--slt-500);
  --color-slt-600: var(--slt-600);
  --color-slt-700: var(--slt-700);
  --color-slt-800: var(--slt-800);
  --color-slt-900: var(--slt-900);
  --color-slt-950: var(--slt-950);

  --color-thy-50: var(--thy-50);
  --color-thy-100: var(--thy-100);
  --color-thy-200: var(--thy-200);
  --color-thy-300: var(--thy-300);
  --color-thy-400: var(--thy-400);
  --color-thy-500: var(--thy-500);
  --color-thy-600: var(--thy-600);
  --color-thy-700: var(--thy-700);
  --color-thy-800: var(--thy-800);
  --color-thy-900: var(--thy-900);
  --color-thy-950: var(--thy-950);

  --color-glc-50: var(--glc-50);
  --color-glc-100: var(--glc-100);
  --color-glc-200: var(--glc-200);
  --color-glc-300: var(--glc-300);
  --color-glc-400: var(--glc-400);
  --color-glc-500: var(--glc-500);
  --color-glc-600: var(--glc-600);
  --color-glc-700: var(--glc-700);
  --color-glc-800: var(--glc-800);
  --color-glc-900: var(--glc-900);
  --color-glc-950: var(--glc-950);

  --color-gau-50: var(--gau-50);
  --color-gau-100: var(--gau-100);
  --color-gau-200: var(--gau-200);
  --color-gau-300: var(--gau-300);
  --color-gau-400: var(--gau-400);
  --color-gau-500: var(--gau-500);
  --color-gau-600: var(--gau-600);
  --color-gau-700: var(--gau-700);
  --color-gau-800: var(--gau-800);
  --color-gau-900: var(--gau-900);
  --color-gau-950: var(--gau-950);

  --color-plm-50: var(--plm-50);
  --color-plm-100: var(--plm-100);
  --color-plm-200: var(--plm-200);
  --color-plm-300: var(--plm-300);
  --color-plm-400: var(--plm-400);
  --color-plm-500: var(--plm-500);
  --color-plm-600: var(--plm-600);
  --color-plm-700: var(--plm-700);
  --color-plm-800: var(--plm-800);
  --color-plm-900: var(--plm-900);
  --color-plm-950: var(--plm-950);

  --color-blk-50: var(--blk-50);
  --color-blk-100: var(--blk-100);
  --color-blk-200: var(--blk-200);
  --color-blk-300: var(--blk-300);
  --color-blk-400: var(--blk-400);
  --color-blk-500: var(--blk-500);
  --color-blk-600: var(--blk-600);
  --color-blk-700: var(--blk-700);
  --color-blk-800: var(--blk-800);
  --color-blk-900: var(--blk-900);
  --color-blk-950: var(--blk-950);

  --color-gry-50: var(--gry-50);
  --color-gry-100: var(--gry-100);
  --color-gry-200: var(--gry-200);
  --color-gry-300: var(--gry-300);
  --color-gry-400: var(--gry-400);
  --color-gry-500: var(--gry-500);
  --color-gry-600: var(--gry-600);
  --color-gry-700: var(--gry-700);
  --color-gry-800: var(--gry-800);
  --color-gry-900: var(--gry-900);
  --color-gry-950: var(--gry-950);

  --color-wht-50: var(--wht-50);
  --color-wht-100: var(--wht-100);
  --color-wht-200: var(--wht-200);
  --color-wht-300: var(--wht-300);
  --color-wht-400: var(--wht-400);
  --color-wht-500: var(--wht-500);
  --color-wht-600: var(--wht-600);
  --color-wht-700: var(--wht-700);
  --color-wht-800: var(--wht-800);
  --color-wht-900: var(--wht-900);
  --color-wht-950: var(--wht-950);

  /* Fonts */
  --font-sans: "Satoshi", sans-serif;
  --font-serif: "Sentient", serif;
  --font-display: "Chillax", sans-serif;
  --font-mono: "Iosevka Vagari", monospace;
  --font-script: "Architects Daughter", cursive;
}
