@theme {
  --font-sans: "Satoshi", sans-serif;
  --font-serif: "Sentient", serif;
  --font-display: "Chillax", sans-serif;
  --font-mono: "Iosevka Vagari", monospace;
  --font-script: "Architects Daughter", cursive;
}

@theme {
  /* Depth */
  --color-surface-50: var(--wht-50);
  --color-surface-100: var(--wht-100);
  --color-surface-200: var(--wht-200);
  --color-surface-300: var(--wht-300);
  --color-surface-400: var(--wht-400);
  --color-surface-500: var(--wht-500);
  --color-surface-600: var(--wht-600);
  --color-surface-700: var(--wht-700);
  --color-surface-800: var(--wht-800);
  --color-surface-900: var(--wht-900);
  --color-surface-950: var(--wht-950);

  --color-neutral-50: var(--gry-50);
  --color-neutral-100: var(--gry-100);
  --color-neutral-200: var(--gry-200);
  --color-neutral-300: var(--gry-300);
  --color-neutral-400: var(--gry-400);
  --color-neutral-500: var(--gry-500);
  --color-neutral-600: var(--gry-600);
  --color-neutral-700: var(--gry-700);
  --color-neutral-800: var(--gry-800);
  --color-neutral-900: var(--gry-900);
  --color-neutral-950: var(--gry-950);

  --color-subtle-50: var(--slt-50);
  --color-subtle-100: var(--slt-100);
  --color-subtle-200: var(--slt-200);
  --color-subtle-300: var(--slt-300);
  --color-subtle-400: var(--slt-400);
  --color-subtle-500: var(--slt-500);
  --color-subtle-600: var(--slt-600);
  --color-subtle-700: var(--slt-700);
  --color-subtle-800: var(--slt-800);
  --color-subtle-900: var(--slt-900);
  --color-subtle-950: var(--slt-950);

  /* Brand */
  --color-primary-a-50: var(--sph-50);
  --color-primary-a-100: var(--sph-100);
  --color-primary-a-200: var(--sph-200);
  --color-primary-a-300: var(--sph-300);
  --color-primary-a-400: var(--sph-400);
  --color-primary-a-500: var(--sph-500);
  --color-primary-a-600: var(--sph-600);
  --color-primary-a-700: var(--sph-700);
  --color-primary-a-800: var(--sph-800);
  --color-primary-a-900: var(--sph-900);
  --color-primary-a-950: var(--sph-950);

  --color-primary-b-50: var(--cbt-50);
  --color-primary-b-100: var(--cbt-100);
  --color-primary-b-200: var(--cbt-200);
  --color-primary-b-300: var(--cbt-300);
  --color-primary-b-400: var(--cbt-400);
  --color-primary-b-500: var(--cbt-500);
  --color-primary-b-600: var(--cbt-600);
  --color-primary-b-700: var(--cbt-700);
  --color-primary-b-800: var(--cbt-800);
  --color-primary-b-900: var(--cbt-900);
  --color-primary-b-950: var(--cbt-950);

  --color-secondary-b-50: var(--slt-50);
  --color-secondary-a-50: var(--gry-50);
  --color-secondary-a-100: var(--gry-100);
  --color-secondary-a-200: var(--gry-200);
  --color-secondary-a-300: var(--gry-300);
  --color-secondary-a-400: var(--gry-400);
  --color-secondary-a-500: var(--gry-500);
  --color-secondary-a-600: var(--gry-600);
  --color-secondary-a-700: var(--gry-700);
  --color-secondary-a-800: var(--gry-800);
  --color-secondary-a-900: var(--gry-900);
  --color-secondary-a-950: var(--gry-950);

  --color-secondary-b-100: var(--slt-100);
  --color-secondary-b-200: var(--slt-200);
  --color-secondary-b-300: var(--slt-300);
  --color-secondary-b-400: var(--slt-400);
  --color-secondary-b-500: var(--slt-500);
  --color-secondary-b-600: var(--slt-600);
  --color-secondary-b-700: var(--slt-700);
  --color-secondary-b-800: var(--slt-800);
  --color-secondary-b-900: var(--slt-900);
  --color-secondary-b-950: var(--slt-950);

  --color-accent-a-50: var(--orn-50);
  --color-accent-a-100: var(--orn-100);
  --color-accent-a-200: var(--orn-200);
  --color-accent-a-300: var(--orn-300);
  --color-accent-a-400: var(--orn-400);
  --color-accent-a-500: var(--orn-500);
  --color-accent-a-600: var(--orn-600);
  --color-accent-a-700: var(--orn-700);
  --color-accent-a-800: var(--orn-800);
  --color-accent-a-900: var(--orn-900);
  --color-accent-a-950: var(--orn-950);

  --color-accent-b-50: var(--sun-50);
  --color-accent-b-100: var(--sun-100);
  --color-accent-b-200: var(--sun-200);
  --color-accent-b-300: var(--sun-300);
  --color-accent-b-400: var(--sun-400);
  --color-accent-b-500: var(--sun-500);
  --color-accent-b-600: var(--sun-600);
  --color-accent-b-700: var(--sun-700);
  --color-accent-b-800: var(--sun-800);
  --color-accent-b-900: var(--sun-900);
  --color-accent-b-950: var(--sun-950);

  /* Status */
  --color-success-a-50: var(--grn-50);
  --color-success-a-100: var(--grn-100);
  --color-success-a-200: var(--grn-200);
  --color-success-a-300: var(--grn-300);
  --color-success-a-400: var(--grn-400);
  --color-success-a-500: var(--grn-500);
  --color-success-a-600: var(--grn-600);
  --color-success-a-700: var(--grn-700);
  --color-success-a-800: var(--grn-800);
  --color-success-a-900: var(--grn-900);
  --color-success-a-950: var(--grn-950);

  --color-success-b-50: var(--spr-50);
  --color-success-b-100: var(--spr-100);
  --color-success-b-200: var(--spr-200);
  --color-success-b-300: var(--spr-300);
  --color-success-b-400: var(--spr-400);
  --color-success-b-500: var(--spr-500);
  --color-success-b-600: var(--spr-600);
  --color-success-b-700: var(--spr-700);
  --color-success-b-800: var(--spr-800);
  --color-success-b-900: var(--spr-900);
  --color-success-b-950: var(--spr-950);

  --color-info-a-50: var(--sky-50);
  --color-info-a-100: var(--sky-100);
  --color-info-a-200: var(--sky-200);
  --color-info-a-300: var(--sky-300);
  --color-info-a-400: var(--sky-400);
  --color-info-a-500: var(--sky-500);
  --color-info-a-600: var(--sky-600);
  --color-info-a-700: var(--sky-700);
  --color-info-a-800: var(--sky-800);
  --color-info-a-900: var(--sky-900);
  --color-info-a-950: var(--sky-950);

  --color-info-b-50: var(--azr-50);
  --color-info-b-100: var(--azr-100);
  --color-info-b-200: var(--azr-200);
  --color-info-b-300: var(--azr-300);
  --color-info-b-400: var(--azr-400);
  --color-info-b-500: var(--azr-500);
  --color-info-b-600: var(--azr-600);
  --color-info-b-700: var(--azr-700);
  --color-info-b-800: var(--azr-800);
  --color-info-b-900: var(--azr-900);
  --color-info-b-950: var(--azr-950);

  --color-warn-a-50: var(--hny-50);
  --color-warn-a-100: var(--hny-100);
  --color-warn-a-200: var(--hny-200);
  --color-warn-a-300: var(--hny-300);
  --color-warn-a-400: var(--hny-400);
  --color-warn-a-500: var(--hny-500);
  --color-warn-a-600: var(--hny-600);
  --color-warn-a-700: var(--hny-700);
  --color-warn-a-800: var(--hny-800);
  --color-warn-a-900: var(--hny-900);
  --color-warn-a-950: var(--hny-950);

  --color-warn-b-50: var(--yel-50);
  --color-warn-b-100: var(--yel-100);
  --color-warn-b-200: var(--yel-200);
  --color-warn-b-300: var(--yel-300);
  --color-warn-b-400: var(--yel-400);
  --color-warn-b-500: var(--yel-500);
  --color-warn-b-600: var(--yel-600);
  --color-warn-b-700: var(--yel-700);
  --color-warn-b-800: var(--yel-800);
  --color-warn-b-900: var(--yel-900);
  --color-warn-b-950: var(--yel-950);

  --color-error-a-50: var(--red-50);
  --color-error-a-100: var(--red-100);
  --color-error-a-200: var(--red-200);
  --color-error-a-300: var(--red-300);
  --color-error-a-400: var(--red-400);
  --color-error-a-500: var(--red-500);
  --color-error-a-600: var(--red-600);
  --color-error-a-700: var(--red-700);
  --color-error-a-800: var(--red-800);
  --color-error-a-900: var(--red-900);
  --color-error-a-950: var(--red-950);

  --color-error-b-50: var(--rby-50);
  --color-error-b-100: var(--rby-100);
  --color-error-b-200: var(--rby-200);
  --color-error-b-300: var(--rby-300);
  --color-error-b-400: var(--rby-400);
  --color-error-b-500: var(--rby-500);
  --color-error-b-600: var(--rby-600);
  --color-error-b-700: var(--rby-700);
  --color-error-b-800: var(--rby-800);
  --color-error-b-900: var(--rby-900);
  --color-error-b-950: var(--rby-950);

  /* Signaling */
  --color-delete-a-50: var(--bry-50);
  --color-delete-a-100: var(--bry-100);
  --color-delete-a-200: var(--bry-200);
  --color-delete-a-300: var(--bry-300);
  --color-delete-a-400: var(--bry-400);
  --color-delete-a-500: var(--bry-500);
  --color-delete-a-600: var(--bry-600);
  --color-delete-a-700: var(--bry-700);
  --color-delete-a-800: var(--bry-800);
  --color-delete-a-900: var(--bry-900);
  --color-delete-a-950: var(--rby-950);

  --color-delete-b-50: var(--chy-50);
  --color-delete-b-100: var(--chy-100);
  --color-delete-b-200: var(--chy-200);
  --color-delete-b-300: var(--chy-300);
  --color-delete-b-400: var(--chy-400);
  --color-delete-b-500: var(--chy-500);
  --color-delete-b-600: var(--chy-600);
  --color-delete-b-700: var(--chy-700);
  --color-delete-b-800: var(--chy-800);
  --color-delete-b-900: var(--chy-900);
  --color-delete-b-950: var(--chy-950);

  --color-link-a-50: var(--blu-50);
  --color-link-a-100: var(--blu-100);
  --color-link-a-200: var(--blu-200);
  --color-link-a-300: var(--blu-300);
  --color-link-a-400: var(--blu-400);
  --color-link-a-500: var(--blu-500);
  --color-link-a-600: var(--blu-600);
  --color-link-a-700: var(--blu-700);
  --color-link-a-800: var(--blu-800);
  --color-link-a-900: var(--blu-900);
  --color-link-a-950: var(--blu-950);

  --color-link-b-50: var(--cbt-50);
  --color-link-b-100: var(--cbt-100);
  --color-link-b-200: var(--cbt-200);
  --color-link-b-300: var(--cbt-300);
  --color-link-b-400: var(--cbt-400);
  --color-link-b-500: var(--cbt-500);
  --color-link-b-600: var(--cbt-600);
  --color-link-b-700: var(--cbt-700);
  --color-link-b-800: var(--cbt-800);
  --color-link-b-900: var(--cbt-900);
  --color-link-b-950: var(--cbt-950);

  --color-save-a-50: var(--grn-50);
  --color-save-a-100: var(--grn-100);
  --color-save-a-200: var(--grn-200);
  --color-save-a-300: var(--grn-300);
  --color-save-a-400: var(--grn-400);
  --color-save-a-500: var(--grn-500);
  --color-save-a-600: var(--grn-600);
  --color-save-a-700: var(--grn-700);
  --color-save-a-800: var(--grn-800);
  --color-save-a-900: var(--grn-900);
  --color-save-a-950: var(--grn-950);

  --color-save-b-50: var(--emr-50);
  --color-save-b-100: var(--emr-100);
  --color-save-b-200: var(--emr-200);
  --color-save-b-300: var(--emr-300);
  --color-save-b-400: var(--emr-400);
  --color-save-b-500: var(--emr-500);
  --color-save-b-600: var(--emr-600);
  --color-save-b-700: var(--emr-700);
  --color-save-b-800: var(--emr-800);
  --color-save-b-900: var(--emr-900);
  --color-save-b-950: var(--emr-950);
}
