@theme {
  --font-sans: "Satoshi", sans-serif;
  --font-serif: "Sentient", serif;
  --font-display: "Chillax", sans-serif;
  --font-mono: "Iosevka Vagari", monospace;
  --font-script: "Architects Daughter", cursive;
}
