package builder

import (
	"fmt"
)

var colorScale = []string{"50", "100", "200", "300", "400", "500", "600", "700", "800", "900", "950"}

var colorMap = map[string]string{
	"Background": "bgc",
	"Foreground": "fgc",
	"Ruby":       "rby",
	"Orange":     "orn",
	"Sun":        "sun",
	"Green":      "grn",
	"Emerald":    "emr",
	"Cyan":       "cyn",
	"Sky":        "sky",
	"Blue":       "blu",
	"Purple":     "prp",
	"Pink":       "pnk",
	"Adenine":    "ade",
	"Rust":       "rst",
	"Cytosine":   "cyt",
	"Olive":      "olv",
	"Forest":     "frt",
	"Slate":      "slt",
	"Thymine":    "thy",
	"Glacial":    "glc",
	"Guanine":    "gau",
	"Plum":       "plm",
	"Black":      "blk",
	"Gray":       "gry",
	"White":      "wht",
}

var displayOrder = []string{
	"Background", "Foreground", 
	"Ruby", "Orange", "Sun", "Green", "Emerald", "Cyan", "Sky", "Blue", "Purple", "Pink", 
	"Adenine", "Rust", "Cytosine", "Olive", "Forest", "Slate", "Thymine", "Glacial", "Guanine", "Plum", 
	"Black", "Gray", "White", 
}

templ Palette() {
	<div class="p-8 font-sans bg-bgc-500 text-fgc-500">
		<h1 class="mb-6 text-2xl font-bold">Palette</h1>
		<div class="flex flex-col space-y-3">

			<div class="flex items-center">
				<div class="w-28 shrink-0"></div>
				<div class="grid flex-1 grid-cols-11 gap-x-2">
					for _, value := range colorScale {
						<div class="text-sm font-medium text-center">{ value }</div>
					}
				</div>
			</div>

			for _, displayName := range displayOrder {
				{{ codeName, _ := colorMap[displayName]  }}
				<div class="flex items-center">
					<div class="w-28 shrink-0 pr-4 text-sm font-semibold text-right capitalize">
						<span>{ displayName }</span>
						<span class="text-xs">({ codeName })</span>
					</div>
					<div class="grid flex-1 grid-cols-11 gap-x-2">
						for _, value := range colorScale {
							@ColorSwatch(codeName, value)
						}
					</div>
				</div>
			}
		</div>
	</div>
}

templ ColorSwatch(colorCode, value string) {
	<div class={ fmt.Sprintf("h-10 w-full rounded-lg bg-%s-%s", colorCode, value) }></div>
}

